body {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  text-align: center;
}
#contenedor {
  text-align: left;
  padding: 1.5rem;
  width: 70%;
  border: 1px solid gray;
  margin: 0 auto;

#cabecera {
  text-align: left;
  width: 85%;
  padding: 0 1rem;
  margin: 0 auto;
  border: 2px solid blueviolet;
}
